/* RESPONSIVE FOR MOBILE VIEW START HERE */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0px 15px;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-container .banner-left {
    flex-basis: 100%;
  }

  .banner-container .banner-right {
    flex-basis: 100%;
    text-align: right;
  }

  .btn-banner {
    margin: 10px 0px;
  }

  .btn-2 {
    padding: 18px 53px;
  }

  #banner-left-second-text {
    font-size: 11px;
  }

  .banner-left-text h1 {
    font-size: 25px;
  }

  .banner-left-text .banner-text-details {
    font-size: 11px;
  }

  .three-card-continer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 0px 15px;
  }

  .col {
    width: 100%;
  }

  .slider-text {
    width: 100% !important;
    text-align: center;
    font-size: 15px;
    padding: 20px !important;
    margin: 30px auto 0px auto;
  }

  .slider-mug {
    width: 107px !important;
    height: 147px !important;
    display: block;
    margin: 0 auto;
  }

  .slider-bg {

    width: 100%;
    height: 350px;

  }

  .three-card-continers {
    grid-template-columns: repeat(1, 1fr);
  }

  .dedicated-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'c'
      'd'
      'e'
    ;
  }

  .dedicated-container-description {
    flex-direction: column;
  }

  .dedicated-left button {
    width: 50%;
  }

  .popular-coffe-row {

    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 200px !important;

  }

  .col-coffe-gap {
    margin: 240px 0px;
  }

  .foodies-row{
   
    grid-template-columns: repeat(1,1fr);
   
  }
  .category-coffe-rows{
      grid-template-columns: repeat(1,1fr);
      grid-row-gap:180px;
      
    }


  /* .foodies-col-margin{
    margin: 100px 0px;
  } */

  .food-rows {

    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 80px;
    margin: 170px 0px 40px 0px;
  }
  .category-col-img{
    top:10px;
  }

  .scedule-rows {
   display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }
  .scedule-col-one .col-one-wifi {
    display: none;
    /* margin: 18px auto; */
  }
  .slider .slider-customer {
    flex-direction: column;
    /* width: 90% !important; */
    /* margin: 0 auto !important; */
    /* border: 2px solid red; */
  }
  .slider-left-div{
    order: 2;
  }
  .customer-rating {
    margin-left:0px;
    /* text-align: center; */
  }
  .user-icon{
    /* flex-direction: column;
    align-items:flex-start; */
  
  }
  /* ..user-icon-left-div{
    display: flex;
    align-items: center;
    margin-left:164px;
  
  } */
  .user-icon-left-div{
    margin-left: 0px;
  }

  
.customer-rating {
  /* margin-left:164px; */
  /* text-align: center; */
  text-align: center;
}
.rating-img{
  /* margin: 0 auto; */
  /* display: block; */
  margin: 0 auto !important;
  width: 100px;
}

.slider-right-div img {
  width:20% !important;
  margin: 0 auto !important;
}

.nav-manu-right{
  display: none;
}
#nav-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
}
.nav-menu-item{
  width: 100%;
  display: none;
}
.show{
  display: block;
}
.nav-menu-item ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-menu-item ul li {
 margin: 10px 0px;
 background-color:#F7F2E9;
 padding: 10px;
 text-align: center;
}

.menu-arrow{
  justify-content: center;
}
  .toggle-bar{
    display: block;
  }
  .toggle-bar img{
    width: 32px;
  }
  .toggle-bar img {
    width: 32px;
    position: absolute;
    right: 38px;
    top: 18px;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 2;
}
.header{
  display: none;
}

.footer-rows-one {
 
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "c1 "
    "c2"
    "c3"
    "c4"
    "c5";
  grid-row-gap: 15px;
}

.footer-cols-one-body {
  flex-direction: column;
}

.footer-rowss-two {
 
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 18px;
  
}
.footer-cols-two {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
.footer-cols-three {
 
  justify-content:center;

}







}

/*    
   RESPONSIVE FOR TAB VIEW START HERE */
@media (min-width: 576px) and (max-width: 767.98px) {


  .dedicated-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'c c c c d d d d e e e e'
    ;
    grid-gap: 15px;


  }

  .three-card-continers {
    grid-template-columns: repeat(1, 1fr);
  }

  .dedicated-container-description {
    flex-direction: column;
  }

  .popular-coffe-row {

    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 200px !important;

  }

  .col-coffe-gap {
    margin: 240px 0px;


  }
  .foodies-row{
   
    grid-template-columns: repeat(1,1fr);
   
  }
  .foodies-col-margin{
    margin: 100px 0px;
  }
  .foodies-row{
   
    grid-template-columns: repeat(1,1fr);
   
  }
  .category-coffe-rows{
      grid-template-columns: repeat(1,1fr);
      grid-row-gap:180px;
      
    }

    .food-col img {
      position: absolute;
      top: -4px;
      right: 27px;
      width: 157px;
    }
    .food-col #img{
      top: -36px;
    }

    .food-col .img-common {
      width: 80%;
      position: absolute;
      top: -61px;
      right: 51px;
    }
    .food-rows {

      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 80px;
      margin: 170px 0px 40px 0px;
    }
    /* .food-col-img{
      top:10px;
      width: 30%;
    } */


    .scedule-rows {
     
       grid-template-columns: repeat(1, 1fr);
       grid-row-gap: 25px;
     }
     .scedule-col-one .col-one-wifi {
       display: none;
       /* margin: 18px auto; */
     }
     .slider .slider-customer {
       flex-direction: column;
       /* width: 90% !important; */
       /* margin: 0 auto !important; */
       /* border: 2px solid red; */
     }
     .slider-left-div{
       order: 2;
     }
     .customer-rating {
       margin-left:0px;
       /* text-align: center; */
     }
     .user-icon{
       /* flex-direction: column;
       align-items:flex-start; */
     
     }
     /* ..user-icon-left-div{
       display: flex;
       align-items: center;
       margin-left:164px;
     
     } */
     .user-icon-left-div{
       margin-left: 0px;
     }
   
     
   .customer-rating {
     /* margin-left:164px; */
     /* text-align: center; */
     text-align: center;
   }
   .rating-img{
     /* margin: 0 auto; */
     /* display: block; */
     margin: 0 auto !important;
     width: 100px;
   }
   
   .slider-right-div img {
     width:20% !important;
     margin: 0 auto !important;
   }

   
.nav-manu-right{
  display: none;
}
#nav-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
}
.nav-menu-item{
  width: 100%;
  display: none;
}
.show{
  display: block;
}
.nav-menu-item ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-menu-item ul li {
 margin: 10px 0px;
 background-color:#F7F2E9;
 padding: 10px;
 text-align: center;
}

.menu-arrow{
  justify-content: center;
}
  .toggle-bar{
    display: block;
  }
  .toggle-bar img{
    width: 32px;
  }
  .toggle-bar img {
    width: 32px;
    position: absolute;
    right: 38px;
    top: 18px;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 2;
}
.header{
  display: none;
}


.footer-rows-one {
 
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "c1 "
    "c2"
    "c3"
    "c4"
    "c5";
  grid-row-gap: 15px;
}

.footer-cols-one-body {
  flex-direction: column;
}

.footer-rowss-two {
 
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 18px;
  
}
.footer-cols-two {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
.footer-cols-three {
 
  justify-content:center;

}
  
   

}
  @media (min-width: 768px) and (max-width: 991.98px) {

    .col {
      font-weight: bold;
      font-family: "Libre Baskerville", serif;
      font-size: 15px;
      padding: 15px 15px 15px 30px;
      width: 100%;
    }

    .col h5 {

      font-family: 'Monsieur La Doulaise', cursive;
      font-size: 30px;
    }

    .col div {
      margin-top: 50px;
    }

    .dedicated-container-description {
      flex-direction: column;
    }
    .col-coffe{
      position: relative;
      height: 340px;
    }

    .col-coffe .price-rating .up-img{
      top: -82px !important;
      right: -2p !important;
      width: 100px !important;
    }
    .col-coffe-bottom{
      flex-direction: column;
    }
    .col-coffe-bottom button{
      width: 80%;
     margin: 10px auto;
    }
    .col-coffe-text h3{
      font-size: 22px;
    }
    .foodies-col .foodies-col-up-img{
     
      width: 100px;
      top:-40px ;
      right:8px;
      
    }
    .foodies-col{
      height: 340px;
    }
    .foodies-col-text{
      margin-top: 40px;
      text-align: center;

  }
  .col-foodies-bottom{
    flex-direction: column;
  }
  .col-foodies-bottom p{
    text-align: center;
  }
  .col-foodies-bottom button{
    width: 70%;
    margin: 10px auto;
  }
  .category-coffe-rows img{
      width: 130px;
  }

  .food-col img {
    position: absolute;
    top: -4px;
    right: 27px;
    width: 157px;
  }
  .food-col #img{
    top: -36px;
  }


  .scedule-rows {
     
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }

  .scedule-col-one .col-one-wifi {
    display: none;
    /* margin: 18px auto; */
  }




  .slider .slider-customer {
    flex-direction: column;
    /* width: 90% !important; */
    /* margin: 0 auto !important; */
    /* border: 2px solid red; */
  }
  .slider-left-div{
    order: 2;
  }
  .customer-rating {
    margin-left:0px;
    /* text-align: center; */
  }
  .user-icon{
    /* flex-direction: column;
    align-items:flex-start; */
    justify-content: center;
  
  }
  /* .user-icon-left-div{
    display: flex;
    align-items: center;
    margin-left:164px;
  
  } */
  .user-icon-left-div,.user-icon-right-div{
    margin-left: 0px;
  }


  
.customer-rating {
  /* margin-left:164px; */
  /* text-align: center; */
  text-align: center;
}
.rating-img{
  /* margin: 0 auto; */
  /* display: block; */
  margin: 0 auto !important;
  width: 100px;
}

.slider-right-div img {
  width:30% !important;
  margin: 0 auto !important;
}



.nav-manu-right{
  display: none;
}
#nav-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
}
.nav-menu-item{
  width: 100%;
  display: none;
}
.show{
  display: block;
}
.nav-menu-item ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-menu-item ul li {
 margin: 10px 0px;
 background-color:#F7F2E9;
 padding: 10px;
 text-align: center;
}

.menu-arrow{
  justify-content: center;
}
  .toggle-bar{
    display: block;
  }
  .toggle-bar img{
    width: 32px;
  }
  .toggle-bar img {
    width: 32px;
    position: absolute;
    right: 38px;
    top: 18px;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 2;
}
.header{
  display: none;
}


.footer-rows-one {
 
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "c1 "
    "c2"
    "c3"
    "c4"
    "c5";
  grid-row-gap: 15px;
}

.footer-cols-one-body {
  flex-direction: column;
}

.footer-rowss-two {
 
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 18px;
  
}
.footer-cols-two {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
.footer-cols-three {
 
  justify-content:center;

}


  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col {

      font-size: 20px;

    }

    .col h5 {

      font-family: 'Monsieur La Doulaise', cursive;
      font-size: 30px;
    }

    .col div {
      margin-top: 50px;
    }
    .col-coffe{
      position: relative;
    }
    .price-rating .up-img{
      position: absolute;
      top:-250px;
      right: 10px;
      width: 197px;
    }
    .foodies-col .foodies-col-up-img{  
      width: 140px;
      top:-40px ;
      right:8px;
      
    }
    .col-foodies-bottom{
      flex-direction: column;
    }
    .col-foodies-bottom p{
      text-align: center;
    }
    .col-foodies-bottom button{
      width: 70%;
      margin: 10px auto;
    }
    .scedule-rows {
     
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 25px;
    }
    .scedule-col-one .col-one-wifi {
      display:none;
     
  }

  
.nav-manu-right{
  display: none;
}
#nav-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
  align-items: flex-start;
}
.nav-menu-item{
  width: 100%;
  display: none;
}
.show{
  display: block;
}
.nav-menu-item ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-menu-item ul li {
 margin: 10px 0px;
 background-color:#F7F2E9;
 padding: 10px;
 text-align: center;
}

.menu-arrow{
  justify-content: center;
}
  .toggle-bar{
    display: block;
  }
  .toggle-bar img{
    width: 32px;
  }
  .toggle-bar img {
    width: 32px;
    position: absolute;
    right: 38px;
    top: 18px;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 2;
}
.header{
  display: none;
}



  }

  @media (min-width: 1200px) and (max-width:1399.98px) {}