/* RESPONSIVE FOR MOBILE VIEW START HERE */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0px 15px;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-container .banner-left {
    flex-basis: 100%;
  }

  .banner-container .banner-right {
    flex-basis: 100%;
    text-align: right;
  }

  .btn-banner {
    margin: 10px 0px;
  }

  .btn-2 {
    padding: 18px 53px;
  }

  #banner-left-second-text {
    font-size: 11px;
  }

  .banner-left-text h1 {
    font-size: 25px;
  }

  .banner-left-text .banner-text-details {
    font-size: 11px;
  }

  .three-card-continer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 0px 15px;
  }

  .col {
    width: 100%;
  }

  .slider-text {
    width: 100% !important;
    text-align: center;
    font-size: 15px;
    padding: 20px !important;
    margin: 30px auto 0px auto;
  }

  .slider-mug {
    width: 107px !important;
    height: 147px !important;
    display: block;
    margin: 0 auto;
  }

  .slider-bg {

    width: 100%;
    height: 350px;

  }

  .three-card-continers {
    grid-template-columns: repeat(1, 1fr);
  }

  .dedicated-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'c'
      'd'
      'e'
    ;
  }

  .dedicated-container-description {
    flex-direction: column;
  }

  .dedicated-left button {
    width: 50%;
  }

  .popular-coffe-row {

    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 200px !important;

  }

  .col-coffe-gap {
    margin: 240px 0px;
  }

}

/*    
   RESPONSIVE FOR TAB VIEW START HERE */
@media (min-width: 576px) and (max-width: 767.98px) {


  .dedicated-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'c c c c d d d d e e e e'
    ;
    grid-gap: 15px;


  }

  .three-card-continers {
    grid-template-columns: repeat(1, 1fr);
  }

  .dedicated-container-description {
    flex-direction: column;
  }

  .popular-coffe-row {

    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 200px !important;

  }

  .col-coffe-gap {
    margin: 240px 0px;


  }
}
  @media (min-width: 768px) and (max-width: 991.98px) {

    .col {
      font-weight: bold;
      font-family: "Libre Baskerville", serif;
      font-size: 15px;
      padding: 15px 15px 15px 30px;
      width: 100%;
    }

    .col h5 {

      font-family: 'Monsieur La Doulaise', cursive;
      font-size: 30px;
    }

    .col div {
      margin-top: 50px;
    }

    .dedicated-container-description {
      flex-direction: column;
    }
    .col-coffe{
      position: relative;
      height: 340px;
    }

    .col-coffe .price-rating .up-img{
      top: -82px !important;
      right: -2p !important;
      width: 100px !important;
    }
    .col-coffe-bottom{
      flex-direction: column;
    }
    .col-coffe-bottom button{
      width: 80%;
     margin: 10px auto;
    }
    .col-coffe-text h3{
      font-size: 22px;
    }

  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col {

      font-size: 20px;

    }

    .col h5 {

      font-family: 'Monsieur La Doulaise', cursive;
      font-size: 30px;
    }

    .col div {
      margin-top: 50px;
    }
    .col-coffe{
      position: relative;
    }
    .price-rating .up-img{
      position: absolute;
      top:-250px;
      right: 10px;
      width: 197px;
    }


  }

  @media (min-width: 1200px) and (max-width:1399.98px) {}